In this tutorial, we will improve our skills in working with JSON files.

JSON tutorial
Let's start with the import of Pandas.

import pandas as pd
Pandas has the function, read_json(), that can load JSON either from a file or a url.

url = "https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json"
first_json = pd.read_json(url)
first_json.head()
Writing the JSON data is as simple as reading and is one line of code. Instead of read_json(), you will use to_json() with a filename and that's all!

first_json.to_json('json_columns.json', orient="columns")
first_json.to_json('json_index.json', orient="index")
If the output directory is not specified to_json() stores the file in the same directory as our notebook. Find the two files there, check the two files and see the difference. These functions are the best option to deal with JSON. However, they don't always work.

read_json() and to_json() works only with simple JSON. All arrays inside need to have arrays of same length.

So what about the nested JSON files?

See the file nested.json, how it looks like and try to load it into pandas with pd.read_json()

df = pd.read_json("nested.json")
We can see that it doesn't work. Fortunately, we have another method. This is not a Pandas function but the method from package JSON which comes with core Python.

import json
#load json object
with open('nested.json') as f:
    nested_json = json.load(f)
print(nested_json)
print(type(nested_json))
We can see that the file is automatically loaded as a Python dictionary.

We can use package pprint for pretty printing dictionaries. This makes the human-parsing of json requests much easier to understand.

We will use a function from Pandas json_normalize(),

from pandas.io.json import json_normalize  
json_normalize(nested_json)
We can see from above that the primary keys are the columns of the DataFrame. We were able to load it as a Pandas DataFrame but it still looks weird.

We are going to add a parameter record_path to json_normalize to put a focus on a specific key from the file:

blog = json_normalize(nested_json,record_path ='blog')
blog.head()
and

article = json_normalize(nested_json,record_path ='article')
article.head()
json_normalize() has 3 main parameters:

data - input data
record_path - nested elements
meta - let them as they are elements
Let's practice a bit more with json_normalize() on different data that are specified below

# define json string
data = [{"state": "Florida", 
        "shortname": "FL",
        "info": {"governor": "Rick Scott"},
        "counties": [{"name": "Dade", "population": 12345},
                     {"name": "Broward", "population": 40000},
                     {"name": "Palm Beach", "population": 60000}]},
       {"state": "Ohio",
        "shortname": "OH",
        "info": {"governor": "John Kasich"},
        "counties": [{"name": "Summit", "population": 1234},
                     {"name": "Cuyahoga", "population": 1337}]}]
json_normalize(data)
json_normalize(data=data, record_path='counties', meta=['state', 'shortname', ['info', 'governor']])

In [1]:
import numpy as np
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json"
first_json = pd.read_json(url)
first_json.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

In [4]:
first_json.to_json('json_columns.json', orient="columns")
first_json.to_json('json_index.json', orient="index")

In [10]:
print("Columns \n" + str(pd.read_json('json_columns.json')))
print("Index \n" + str(pd.read_json('json_index.json')))

Columns
    integer            datetime  category
0         5 2015-01-01 00:00:00         0
1         5 2015-01-01 00:00:01         0
2         9 2015-01-01 00:00:02         0
3         6 2015-01-01 00:00:03         0
4         6 2015-01-01 00:00:04         0
..      ...                 ...       ...
95        9 2015-01-01 00:01:35         0
96        8 2015-01-01 00:01:36         0
97        6 2015-01-01 00:01:37         0
98        8 2015-01-01 00:01:38         0
99        1 2015-01-01 00:01:39         0

[100 rows x 3 columns]
Index
                     0              1              2              3   \
integer               5              5              9              6
datetime  1420070400000  1420070401000  1420070402000  1420070403000
category              0              0              0              0

                     4              5              6              7   \
integer               6              9              7              1
datetime  1420070404000  1420070405000  1420070406000  1420070407000
category              0              0              0              0

                     8              9   ...             90             91  \
integer               6              9  ...              1              5
datetime  1420070408000  1420070409000  ...  1420070490000  1420070491000
category              0              0  ...              0              0

                     92             93             94             95  \
integer               7              9              5              9
datetime  1420070492000  1420070493000  1420070494000  1420070495000
category              0              0              0              0

                     96             97             98             99
integer               8              6              8              1
datetime  1420070496000  1420070497000  1420070498000  1420070499000
category              0              0              0              0

[3 rows x 100 columns]

In [11]:
print("Nested \n" + str(pd.read_json('nested.json')))

ValueError: All arrays must be of the same length

In [12]:
import json
#load json object
with open('nested.json') as f:
    nested_json = json.load(f)
print(nested_json)
print(type(nested_json))

{'article': [{'id': '01', 'language': 'JSON', 'edition': 'first', 'author': 'Allen'}, {'id': '02', 'language': 'Python', 'edition': 'second', 'author': 'Aditya Sharma'}], 'blog': [{'name': 'Datacamp', 'URL': 'datacamp.com'}]}
<class 'dict'>

In [15]:
from pprint import pprint


with open('nested.json') as f:
    nested_json = json.load(f)
pprint(nested_json)
print(type(nested_json))

{'article': [{'author': 'Allen',
              'edition': 'first',
              'id': '01',
              'language': 'JSON'},
             {'author': 'Aditya Sharma',
              'edition': 'second',
              'id': '02',
              'language': 'Python'}],
 'blog': [{'URL': 'datacamp.com', 'name': 'Datacamp'}]}
<class 'dict'>

In [17]:
# from pandas.io.json import json_normalize #
from pandas import json_normalize
json_normalize(nested_json)

,article,blog
0,"[{'id': '01', 'language': 'JSON', 'edition': '...","[{'name': 'Datacamp', 'URL': 'datacamp.com'}]"

In [18]:
blog = json_normalize(nested_json,record_path ='blog')
blog.head()

       name           URL
0  Datacamp  datacamp.com

In [19]:
article = json_normalize(nested_json,record_path ='article')
article.head()

   id language edition         author
0  01     JSON   first          Allen
1  02   Python  second  Aditya Sharma

In [20]:
# define json string
data = [{"state": "Florida", 
        "shortname": "FL",
        "info": {"governor": "Rick Scott"},
        "counties": [{"name": "Dade", "population": 12345},
                     {"name": "Broward", "population": 40000},
                     {"name": "Palm Beach", "population": 60000}]},
       {"state": "Ohio",
        "shortname": "OH",
        "info": {"governor": "John Kasich"},
        "counties": [{"name": "Summit", "population": 1234},
                     {"name": "Cuyahoga", "population": 1337}]}]

In [21]:
json_normalize(data)
json_normalize(data=data, record_path='counties', meta=['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich